In [2]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data['Pclass']

PassengerId
1      3
2      1
3      3
4      1
5      3
      ..
887    2
888    1
889    3
890    1
891    3
Name: Pclass, Length: 891, dtype: int64

In [5]:
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [6]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [7]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [8]:
print(data['Sex'].value_counts()['male'], data['Sex'].value_counts()['female'])

577 314

In [9]:
alive = data['Survived'].value_counts()[1]
dead = data['Survived'].value_counts()[0]

In [10]:
print('{:2.2f}'.format(alive*100/(alive+dead)))

38.38

In [11]:
firstclass = data['Pclass'].value_counts()[1]

In [12]:
print('{:2.2f}'.format(firstclass*100/(alive+dead)))

24.24

In [13]:
print('{:2.2f}'.format(data['Age'].mean()), data['Age'].median())

29.70 28.0

In [14]:
print('{:2.2f}'.format(data['Parch'].corr(data['SibSp'])))

0.41

In [15]:
data.loc[data["Sex"] == 'female']['Name']

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [22]:
females = data.loc[data["Sex"] == 'female']['Name'].tolist()

In [23]:
females

['Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'McGowan, Miss. Anna "Annie"',
 'Palsson, Miss. Torborg Danira',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 "O'Driscoll, Miss. Bridget",
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Rugg, Miss. Emily',
 'West, Miss. Constance Mirium',
 'Icard, Miss. Amelie',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Andersson, Miss. Erna Alexandra',
 'Goodwin, Miss. Lillian Amy',
 'Dowdell, Miss. Elizabeth',
 'McDermott, Miss. Brigdet Delia',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Fortune, Miss. Mabel Helen',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Petranec, Miss. Matilda',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moran, Miss. Bertha',
 'Zabour, Miss. Hileni',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Andersson, Miss. Ellis Anna Maria',
 'Webber, Miss. Susan',
 'Peter, Miss. Anna',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Newsom, Miss. Helen Monypeny',
 'Boulos, Mrs. Joseph (Sultana)',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Gilnagh, Miss. Katherine "Katie"',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'Johnson, Miss. Eleanor Ileen',
 'Isham, Miss. Ann Elizabeth',
 'Sage, Miss. Constance Gladys',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Pinsky, Mrs. (Rosa)',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Strom, Miss. Telma Matilda',
 'Carr, Miss. Helen "Ellen"',
 'Cameron, Miss. Clear Annie',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Bazzani, Miss. Albina',
 'Lefebre, Miss. Mathilde',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Asplund, Miss. Lillian Gertrud',
 'Harknett, Miss. Alice Phoebe',
 'Collyer, Miss. Marjorie "Lottie"',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Hamalainen, Mrs. William (Anna)',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Henry, Miss. Delia',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Haas, Miss. Aloisia',
 'Allison, Miss. Helen Loraine',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'Keane, Miss. Nora A',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Young, Miss. Marie Grice',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Burns, Miss. Elizabeth Margaret',
 'Fortune, Miss. Alice Elizabeth',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Barbara, Mrs. (Catherine David)',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Palsson, Miss. Stina Viola',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Buss, Miss. Kate',
 'Lehmann, Miss. Bertha',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Olsson, Miss. Elina',
 'Trout, Mrs. William H (Jessie L)',
 'Jussila, Miss. Mari Aina',
 'Oreskovic, Miss. Marija',
 'Lefebre, Miss. Ida',
 'Minahan, Miss. Daisy E',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Van Impe, Miss. Catharina',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Reynaldo, Ms. Encarnacion',
 'Mellinger, Miss. Madeleine Violet',
 'Baclini, Miss. Marie Catherine',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 'Baclini, Miss. Helene Barbara',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Strandberg, Miss. Ida Sofia',
 'Hirvonen, Miss. Hildur E',
 'Turkula, Mrs. (Hedwig)',
 'Lefebre, Miss. Jeannie',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Eustis, Miss. Elizabeth Mussey',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Lemore, Mrs. (Amelia Milley)',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Perreault, Miss. Anne',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Ridsdale, Miss. Lucy',
 'Quick, Miss. Phyllis May',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'LeRoy, Miss. Bertha',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Ohman, Miss. Velin',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Meanwell, Miss. (Marion Ogden)',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Kelly, Miss. Mary',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Taussig, Miss. Ruth',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Bourke, Miss. Mary',
 'Leitch, Miss. Jessie Wills',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Murphy, Miss. Margaret Jane',
 'Herman, Miss. Alice',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Becker, Miss. Marion Louise',
 'Longley, Miss. Gretchen Fiske',
 'Skoog, Miss. Mabel',
 'Davis, Miss. Mary',
 'Panula, Mrs. Juha (Maria Emilia Ojala)',
 'Sagesser, Mlle. Emma',
 'Skoog, Miss. Margit Elizabeth',
 'Baclini, Miss. Eugenie',
 'Stanley, Miss. Amy Zillah Elsie',
 'Doling, Miss. Elsie',
 'O\'Leary, Miss. Hanora "Norah"',
 'Hegarty, Miss. Hanora "Nora"',
 'Bourke, Mrs. John (Catherine)',
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
 'Turja, Miss. Anna Sofia',
 'Goodwin, Mrs. Frederick (Augusta Tyler)',
 'Peters, Miss. Katie',
 'Madill, Miss. Georgette Alexandra',
 'Karun, Miss. Manca',
 'Mullens, Miss. Katherine "Katie"',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Barbara, Miss. Saiide',
 'Kelly, Mrs. Florence "Fannie"',
 'Cleaver, Miss. Alice',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Endres, Miss. Caroline Louise',
 'Troutt, Miss. Edwina Celia "Winnie"',
 'Harper, Miss. Annie Jessie "Nina"',
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)',
 'Mannion, Miss. Margareth',
 'Ilmakangas, Miss. Pieta Sofia',
 'Allen, Miss. Elisabeth Walton',
 'Ford, Mrs. Edward (Margaret Ann Watson)',
 'Ryerson, Miss. Susan Parker "Suzette"',
 'Sinkkonen, Miss. Anna',
 'Wells, Miss. Joan',
 'Herman, Mrs. Samuel (Jane Laver)',
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 'Carter, Mrs. William Ernest (Lucile Polk)',
 'Hogeboom, Mrs. John C (Anna Andrews)',
 'Mangan, Miss. Mary',
 'Mack, Mrs. (Mary)',
 'Hocking, Mrs. Elizabeth (Eliza Needs)',
 'Emanuel, Miss. Virginia Ethel',
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
 'Ayoub, Miss. Banoura',
 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Sjoblom, Miss. Anna Sofia',
 'Sage, Miss. Stella Anna',
 'Leader, Dr. Alice (Farnham)',
 'Osman, Mrs. Mara',
 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)',
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)',
 'Pettersson, Miss. Ellen Natalia',
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Andersson, Miss. Ebba Iris Alfrida',
 'Heininen, Miss. Wendla Maria',
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Moor, Mrs. (Beila)',
 'Stone, Mrs. George Nelson (Martha Evelyn)',
 'Yasbeck, Mrs. Antoni (Selini Alexander)',
 'Compton, Miss. Sara Rebecca',
 'Serepeca, Miss. Augusta',
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
 'Boulos, Miss. Nourelain',
 'Lines, Miss. Mary Conover',
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)',
 'Aks, Mrs. Sam (Leah Rosen)',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Baclini, Mrs. Solomon (Latifa Qurban)',
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)',
 'Sage, Miss. Dorothy Edith "Dolly"',
 'Bystrom, Mrs. (Karolina)',
 'Duran y More, Miss. Asuncion',
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Najib, Miss. Adele Kiamie "Jane"',
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)',
 'Shelley, Mrs. William (Imanita Parrish Hall)',
 'Dahlberg, Miss. Gerda Ulrika',
 'Rice, Mrs. William (Margaret Norton)',
 'Graham, Miss. Margaret Edith',
 'Johnston, Miss. Catherine Helen "Carrie"']

In [32]:
for i in range(len(females)):
    if '(' in females[i]:
        females[i] = females[i].split('(')[-1]
    elif 'Mrs.' in females[i]:
        females[i] = females[i].split('Mrs. ')[1]
    elif 'Miss' in females[i]:
        females[i] = females[i].split('Miss. ')[1]
    females[i] = females[i].split(' ')[0].replace(')', '')

In [35]:
f = list(set(females))
b = sorted(f, key=lambda x:females.count(x))
print(b)
print(b[-1])

['Eleanor', 'Anne', 'Latifa', 'Catharina', 'Malake', 'Mari', 'Miriam', 'Mantoura', 'Esther', 'Lulu', 'Aubart,', 'Laina', 'Clear', '"Mary"', 'Fatima', 'Myna', 'Eugenie', 'Hulda', 'Sylvia', 'Pieta', 'Marguerite', 'Kristina', 'Delia', 'Albina', 'Grace', 'Lilian', 'Reynaldo,', 'Sultana', 'Velin', 'Marian', 'Wendla', 'Lyyli', 'Aloisia', 'Simonne', 'Cordelia', 'Carla', 'Vera', 'Alma', 'Sara', 'Laura', 'Gretchen', 'Sigrid', 'Sagesser,', 'Caroline', 'Emelia', 'Lutie', 'Ingeborg', 'Ann', 'Aurora', 'Nourelain', 'Ellis', 'Leah', 'Amelie', 'Asuncion', 'Harriet', 'Ebba', 'Nora', 'Daisy', 'Jean', 'Kornelia', 'Brigdet', 'Torborg', 'Katriina', 'Mara', 'Elin', 'Banoura', 'Alfrida', 'Gerda', 'Luise', 'Katie', 'Emma', 'Margareth', 'Ruth', 'Jamila', 'Imanita', 'Selma', 'Elna', 'Erna', 'Robina', 'Eliza', 'Stella', 'Helmina', 'Gertrude', 'Julie', 'Karolina', 'Georgette', 'Leila', 'Edwiga', 'Eva', 'Manca', 'Margit', 'Elise', 'Jeannie', 'Phyllis', 'Hilda', 'Selini', 'Joan', 'Hannah', 'Hanne', 'Matilda', 'Gladys', 'Stina', 'Tillie', 'Saiide', 'Eliina', 'Telma', 'Helena', 'Sallie', 'Bessie', 'Juliet', 'Juliette', 'Hileni', 'Josefine', 'Thamine', 'Beila', 'Agda', 'Hildur', 'Elina', 'Irene', 'Farnham', 'Edwina', 'Virginia', 'Margaretta', 'Doolina', 'Roberta', 'Bridget', 'Elsie', 'Charlotte', 'Lucy', 'Hedwig', 'Marija', 'Agnes', 'Susan', 'Rosalie', 'Clara', 'Martha', 'Lily', 'Marjorie', 'Rosa', 'Mathilde', 'Constance', 'Adele', 'Kate', 'Mabel', 'Amy', 'Ethel', 'Lucile', 'Jessie', 'Johanna', 'Dorothy', 'Helene', 'Amelia', 'Hanora', 'Ida', 'Elisabeth', 'Jane', 'Madeleine', 'Katherine', 'Lillian', 'Edith', 'Ada', 'Marion', 'Ellen', 'Marie', 'Augusta', 'Annie', '"Mrs', 'Florence', 'Emily', 'Catherine', 'Maria', 'Bertha', 'Helen', 'Alice', 'Margaret', 'Elizabeth', 'Mary', 'Anna']
Anna